::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #ff0000;
    border-radius: 3px;
  }
  
  ::-webkit-scrollbar-track {
    background: #dde1ef;
    border-radius: 3px;
  }